---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Maez Ink - Diseños">
  <img src="/logomaezink.png" transition:name="vtImg" alt="logo" class="mt-10 mx-auto w-32 xl:w-48 max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg" loading="lazy">


  </div>