---
import BentoGrid from "../components/BentoGrid.astro";
import Layout from "../layouts/Layout.astro";

// Lista de URLs de imágenes
const images = [
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png","logomaezink.png",
  "logomaezink.png",
];
---

<Layout title="Maez Ink - Galería">
  <div class="max-w-7xl mx-auto">
    <BentoGrid images={images} />
  </div>
</Layout>

