---
import BentoGrid from "../components/BentoGrid.astro";

// Lista de URLs de imágenes
const images = [
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png",
  "logomaezink.png","logomaezink.png",
  "logomaezink.png",
];
---

<html>
  <head>
    <title>Bento Grid Ajustado</title>
  </head>
  <body class="bg-black">
    <div class="max-w-7xl mx-auto">
        <BentoGrid images={images} />
    </div>
  </body>
</html>
