---
import Carrousel from '../components/Carousel';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Maez Ink - Inicio">
	<main class="text-white min-h-screen flex flex-col">
		<section class="relative w-screen h-[90vh] mx-auto bg-black">
			<img src="/bg.jpg" alt="bg" class="absolute inset-0 w-full h-full object-cover opacity-20" loading="lazy">
			<img src="/logomaezink.png" alt="logo" class="relative pt-40 md:pt-40 lg:pt-0 mx-auto z-10 w-64 xl:w-96 max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg">
			<h1 class="text-center text-3xl font-bold">- Maez Ink - Blackwork - Anime Tattoo -</h1>
		</section>

		<section class="w-screen min-h-[1000px] mx-auto bg-gradient-to-b from-black via-neutral-900 to-neutral-800 py-24 px-6 relative overflow-hidden">
			<h1 class="text-center text-whitem mx-auto">
				<span class="text-6xl ">¿Quien soy?</span>
				<hr class="w-20 border border-yellow-400 mx-auto my-4">
			</h1>
			<div class="flex flex-col lg:flex-row items-center justify-between gap-16 max-w-4xl mx-auto z-10 relative">
				<div class="text-center lg:text-left text-white flex-1">
					<h2 class="text-5xl font-extrabold mb-6 text-yellow-500">
						Maez Ink
					</h2>
					<p class="text-gray-200 text-xl leading-relaxed max-w-3xl mx-auto lg:mx-0">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere impedit possimus molestias, soluta sequi perferendis unde? Ullam quam optio illo, nesciunt exercitationem harum maxime hic odit. Dicta minus blanditiis dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officiis quidem ullam perspiciatis nam sapiente iusto aspernatur nihil quae minima quisquam ducimus, fuga voluptatem aliquam ex. Modi saepe adipisci temporibus?
					</p>
				</div>
				<div class="w-full sm:w-96 lg:w-auto mt-8 lg:mt-0 flex-1">
					<img src="/foto_inicio.png" alt="Maez Ink - Tatuador" class="w-full h-auto transition-all duration-300 hover:scale-105">
				</div>
			</div>
		</section>
		
		
		<section class="w-screen h-[1000px] max-w-screen-lg mx-auto ">
			<h1 class="text-white font-bold text-4xl text-center pt-40">
				SECCIÓN DISEÑOS
				<hr class="w-20 border border-yellow-400 mx-auto my-4">
			</h1>
			<Carrousel client:load />
		</section>

		<section class="w-screen h-[1000px] max-w-screen-lg mx-auto bg-blue-500">
			<h1 class="text-white font-bold text-4xl text-center pt-40">
				SECCIÓN SORTEOS
			</h1>
		</section>
	</main>
</Layout>
