---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="text-white min-h-screen flex flex-col">
		<section class="w-screen h-[80vh] max-w-screen-lg mx-auto bg-black">
			<h1 class="text-white font-bold text-4xl text-center pt-96">
				SECCIÓN HERO
			</h1>
		</section>

		<section class="w-screen h-[1000px] max-w-screen-lg mx-auto bg-red-500">
			<h1 class="text-white font-bold text-4xl text-center pt-40">
				SECCIÓN QUIÉN SOY
			</h1>
		</section>

		<section class="w-screen h-[1000px] max-w-screen-lg mx-auto bg-yellow-600">
			<h1 class="text-white font-bold text-4xl text-center pt-40">
				SECCIÓN DISEÑOS
			</h1>
		</section>

		<section class="w-screen h-[1000px] max-w-screen-lg mx-auto bg-blue-500">
			<h1 class="text-white font-bold text-4xl text-center pt-40">
				SECCIÓN SORTEOS
			</h1>
		</section>
	</main>
</Layout>
