---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Maez Ink - Inicio">
	<main class="text-white min-h-screen flex flex-col">
		<section class="relative w-screen h-[90vh] mx-auto bg-black">
			<img src="/bg.jpg" alt="bg" class="absolute inset-0 w-full h-full object-cover opacity-20" loading="lazy">
			<img src="/logomaezink.png" alt="logo" class="relative pt-40 md:pt-40 lg:pt-0 mx-auto z-10 w-64 xl:w-96 max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg">
			<h1 class="text-center text-3xl font-bold">- Maez Ink - Blackwork - Anime Tattoo -</h1>
		</section>

		<section class="w-screen h-[1000px] mx-auto bg-black">
			<span>
				
			</span>
			<h1 class="text-white font-bold text-4xl text-center pt-40">
				SECCIÓN QUIÉN SOY
			</h1>
			<hr class="max-w-lg mx-auto"></hr>
		</section>

		<section class="w-screen h-[1000px] max-w-screen-lg mx-auto bg-yellow-600">
			<h1 class="text-white font-bold text-4xl text-center pt-40">
				SECCIÓN DISEÑOS
			</h1>
		</section>

		<section class="w-screen h-[1000px] max-w-screen-lg mx-auto bg-blue-500">
			<h1 class="text-white font-bold text-4xl text-center pt-40">
				SECCIÓN SORTEOS
			</h1>
		</section>
	</main>
</Layout>
