---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo'
import Button1 from '../components/Button1';
---

<Layout title="Welcome to Astro.">
	<main>
		<section id="hero" class="grid gap-32">
			<div class="grid gap-4">
				<Logo adapter="size-96 mx-auto m-20"/>
				<h1 class="text-center text-2xl font-bold">BLACKWORK/ANIME TATTOO</h1>
				<h2 class="text-center text-xl font-bold">📍 Córdoba - España</h2>
			</div>
			<Button1 />
		</section>
		
	</main>
</Layout>