---
import { ClientRouter } from "astro:transitions";
import FormularioRegistro from "../sections/auth/FormularioRegistro.astro";


---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <ClientRouter />
</head>
<body class="bg-neutral-900" style="background-image: url('bg.avif'); background-size: cover; background-position: center; background-color: rgba(0, 0, 0, 0.8 ); background-blend-mode: overlay;">
    <main>
        <FormularioRegistro />
    </main>
</body>
</html>

