---

import { FaNewspaper, FaPaintBrush, FaCalendarAlt } from "react-icons/fa";
import { IoIosGift } from "react-icons/io";
---

<section class="max-w-[90%] lg:max-w-[65%] mx-auto grid lg:grid-cols-1">
  <div class="pt-8 px-8 pb-16">
    <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-5 justify-center items-center">
      <a href="/diseños" class="
        relative rounded-3xl overflow-hidden
        bg-gradient-to-br from-neutral-900/60 via-neutral-800/50 to-neutral-900/70
        border border-neutral-600 shadow-lg shadow-neutral-700
        flex flex-col items-start
        hover:scale-105 hover:contrast-125
        transition
        group
        md:col-span-2 p-10 min-h-[240px]
            ">
        <FaPaintBrush className="absolute -right-1 -bottom-1 -rotate-6 size-28 group-hover:-rotate-45 group-hover:scale-125 transition-transform" />
        <span
          class="absolute bottom-4 left-6 font-bold text-3xl group-hover:-translate-y-1 transition-transform">Diseños Personalizados</span>
        <span class="absolute top-4 left-6 text-sm border rounded-xl px-2 py-1">Arte único para ti</span>
            </a>

            <a href="/pidetucita" class="
        relative rounded-3xl overflow-hidden
        bg-gradient-to-br from-neutral-800 via-neutral-800/50 to-neutral-900/70
        border border-neutral-600 shadow-lg shadow-neutral-700
        flex flex-col items-start
        hover:scale-105 hover:contrast-125
        transition
        group
        md:col-span-1 p-10 min-h-[240px]
            ">
        <FaCalendarAlt className="absolute -right-1 -bottom-1 -rotate-6 size-28 group-hover:-rotate-45 group-hover:scale-125 transition-transform" />
        <span
          class="absolute bottom-4 left-6 font-bold text-3xl group-hover:-translate-y-1 transition-transform">Citas</span>
        <span class="absolute top-4 left-6 text-sm border rounded-xl px-2 py-1">Reserva tu sesión</span>
            </a>

            <a href="/noticiero" class="
        relative rounded-3xl overflow-hidden
        bg-gradient-to-br from-neutral-800 via-neutral-800/50 to-neutral-900/70
        border border-neutral-600 shadow-lg shadow-neutral-700
        flex flex-col items-start
        hover:scale-105 hover:contrast-125
        transition
        group
        md:col-span-1 p-10 min-h-[240px]
            ">
        <FaNewspaper className="absolute -right-1 -bottom-1 -rotate-6 size-28 group-hover:-rotate-45 group-hover:scale-125 transition-transform" />
        <span
          class="absolute bottom-4 left-6 font-bold text-3xl group-hover:-translate-y-1 transition-transform">Noticias</span>
        <span class="absolute top-4 left-6 text-sm border rounded-xl px-2 py-1">Mantente informado</span>
            </a>

            <a href="/sorteos" class="
        relative rounded-3xl overflow-hidden
        bg-gradient-to-br from-neutral-800 via-neutral-800/50 to-neutral-900/70
        border border-neutral-600 shadow-lg shadow-neutral-700
        flex flex-col items-start
        hover:scale-105 hover:contrast-125
        transition
        group
        md:col-span-2 p-10 min-h-[240px]
      ">
        <IoIosGift className="absolute -right-1 -bottom-1 -rotate-6 size-28 group-hover:-rotate-45 group-hover:scale-125 transition-transform" />
        <span
          class="absolute bottom-4 left-6 font-bold text-3xl group-hover:-translate-y-1 transition-transform">Sorteos</span>
        <span class="absolute top-4 left-6 text-sm border rounded-xl px-2 py-1">Participa y gana</span>
      </a>
    </div>
  </div>
</section>
