---
import { FaPlus } from "react-icons/fa";
import TablaDesigns from "../components/Diseños/TablaDiseños";
---

<section class="flex flex-col gap-4">
  <div class="flex justify-between">
      <h1 class="text-3xl font-bold">Diseños</h1>
      <a class="bg-neutral-800 text-white rounded-2xl text-sm text-center items-center hover:scale-110 transition-transform duration-200 ease-in-out hover:shadow-xl shadow-md p-4" href="/añadir-diseño"><FaPlus /></a>
  </div>
  <hr class="border-gray-300" />
  <TablaDesigns client:visible />
</section>