---
import TablaUsuarios from "../components/Usuarios/TablaUsuarios";

---

<section class="flex flex-col gap-4">
  <div class="flex justify-between">
      <h1 class="text-3xl font-bold">Usuarios</h1>
  </div>
  <hr class="border-gray-300" />
  <TablaUsuarios client:load/>
</section>