<section class="relative w-screen h-screen mx-auto bg-gradient-to-b from-black via-black to-transparent flex items-center justify-center">
  <img src="/bg.jpg" alt="bg" class="absolute inset-0 w-full h-full object-cover opacity-20 img-gradient" loading="lazy">
  <div class="relative z-10 text-center">
    <img src="/logomaezink.png" transition:name="vtImg" alt="logo" class="mx-auto w-64 xl:w-96 max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg" loading="lazy">
    <!-- <h1 class="text-2xl font-extralight ">- Maez Ink - Blackwork - Anime Tattoo -</h1> -->
  </div>
</section>