<section class="relative w-screen h-screen mx-auto bg-gradient-to-b from-neutral-900 to-neutral-900 flex items-center justify-center">
  <img src="/bg.avif" alt="bg" class="absolute inset-0 w-full h-full object-cover opacity-20 img-gradient" loading="lazy">
  <div class="relative z-10 text-center">
    <img src="/favicon.svg" transition:name="vtImg" alt="logo" class="mx-auto w-64 xl:w-50 max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg" loading="lazy">
    <h1 class="text-xl md:text-2xl lg:text-5xl font-bold">TATTOO STUDIO</h1>
  </div>
</section>