<section class="w-screen min-h-[1000px] mx-auto bg-gradient-to-b from-black via-neutral-900 to-neutral-800 py-24 px-6 relative overflow-hidden">
  <h1 class="text-center text-whitem mx-auto">
    <span class="text-5xl font-extrabold">¿Quien soy?</span>
    <hr class="w-20 h-1 bg-slate-400 mx-auto my-4">
  </h1>
  <div class="flex flex-col lg:flex-row items-center justify-between gap-16 max-w-4xl mx-auto z-10 relative">
    <div class="text-center lg:text-left text-white flex-1">
      <h2 class="text-2xl font-extrabold mb-6 text-slate-400">
        Marta Aguilera Estévez
      </h2>
      <p class="text-gray-200 text-xl leading-relaxed max-w-3xl mx-auto lg:mx-0">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere impedit possimus molestias, soluta sequi perferendis unde? Ullam quam optio illo, nesciunt exercitationem harum maxime hic odit. Dicta minus blanditiis dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam officiis quidem ullam perspiciatis nam sapiente iusto aspernatur nihil quae minima quisquam ducimus, fuga voluptatem aliquam ex. Modi saepe adipisci temporibus?
      </p>
    </div>
    <div class="w-full sm:w-96 lg:w-auto mt-8 lg:mt-0 flex-1">
      <img src="/foto_inicio.png" alt="Maez Ink - Tatuador" class="img-gradient w-full h-auto transition-all duration-300 hover:scale-105">
    </div>
  </div>
</section>