---
---

<section>
  <form>
    <div class="flex flex-col items-center justify-center h-screen">
      <div class="w-96 p-8 text-white">
          <div class="flex justify-center">
            <img src="/logomaezink.avif" transition:name="vtImg" alt="Logo" class="w-40" />
          </div>
            <input type="text" placeholder="Email" class="border border-neutral-400 p-2 mb-4 w-full bg-transparent rounded-md" required />
            <input type="password" placeholder="Contraseña" class="border border-neutral-400 p-2 mb-4 w-full bg-transparent rounded-md" required />
            
            <span class="text-sm mt-2">¿No tienes cuenta?</span>
            <a href="/register" class="text-blue-400 text-sm hover:underline">Regístrate aquí</a>
  
            <br>
  
            <span class="text-sm mt-2">¿Olvidaste tu contraseña?</span>
            <a href="/reset-password" class="text-blue-400 text-sm hover:underline">Recuperar contraseña</a>
  
            <button type="submit" class="mt-7 bg-neutral-500 hover:bg-neutral-600 transition-all duration-300 text-white p-2 rounded w-full">
              Iniciar sesión
            </button>
        </div>
    </div>
  </form>
</section>
