---
// Importa componentes necesarios aquí
import Layout from '../layouts/Layout.astro';
// Importa cualquier otro componente React si es necesario
import CrearNoticia from '../components/Noticias/CrearNoticia.jsx';
---
<Layout title="Añadir Noticia">
    <div>
        <!-- Tu contenido JSX aquí, convertido a sintaxis Astro/HTML -->
        <CrearNoticia client:load />
    </div>
</Layout>