---
import Layout from '../layouts/Layout.astro';
import CrearNoticia from '../components/Noticias/CrearNoticia.jsx';
---
<Layout title="Añadir Noticia">
    <div>
        <CrearNoticia client:load />
    </div>
</Layout>