---
import Layout from '../layouts/Layout.astro';
import CrearSorteo from '../components/Sorteos/CrearSorteo.jsx';
---
<Layout title="Añadir Sorteo">
    <div>
        <CrearSorteo client:load />
    </div>
</Layout>