---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<div class="h-full flex ">
        <h1 class="text-3xl font-bold">Bienvenido a la página de Inicio</h1>
	</div>
</Layout>
