---
import { ClientRouter } from "astro:transitions";
import FormularioInicioSesion from "../sections/FormularioInicioSesion.astro";
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <ClientRouter />
</head>
<body class="bg-neutral-950 bg-cover bg-center bg-black/80 bg-blend-overlay animate-blurred-fade-in">
    <img src="/bg.avif" alt="" loading="lazy" class="absolute inset-0 opacity-20 object-cover w-full h-full -z-10" />
    <main>
        <FormularioInicioSesion />
    </main>
</body>
</html>

