---

---

<header class="fixed z-20 flex justify-center items-center w-full mt-5">
  <div class="bg-neutral-600/90 rounded-full w-auto h-auto"> 
    <ul class="flex flex-wrap place-content-center p-4 text-white text-xs md:text-sm lg:text-sm">
      <li class="hover:-translate-y-1 transition-all duration-200"><a class="hover:bg-[#222221] rounded-xl hover:font-bold transition-all ease-in-out duration-600 p-2 sm:p-4" href="/">Inicio</a></li>
      <li class="hover:-translate-y-1 transition-all duration-200"><a class="hover:bg-[#222221] rounded-xl hover:font-bold transition-all ease-in-out duration-600 p-2 sm:p-4" href="/noticiero">Noticiero</a></li>
      <li class="hover:-translate-y-1 transition-all duration-200"><a class="hover:bg-[#222221] rounded-xl hover:font-bold transition-all ease-in-out duration-600 p-2 sm:p-4" href="/galeria">Galería</a></li>
      <li class="hover:-translate-y-1 transition-all duration-200"><a class="hover:bg-[#222221] rounded-xl hover:font-bold transition-all ease-in-out duration-600 p-2 sm:p-4" href="/pidetucita">Pide tu cita</a></li>
      <li class="hover:-translate-y-1 transition-all duration-200"><a class="hover:bg-[#222221] rounded-xl hover:font-bold transition-all ease-in-out duration-600 p-2 sm:p-4" href="/sorteos">Sorteos</a></li>
      <li class="hover:-translate-y-1 transition-all duration-200"><a class="hover:bg-[#222221] rounded-xl hover:font-bold transition-all ease-in-out duration-600 p-2 sm:p-4" href="/diseños">Diseños</a></li>
    </ul>
  </div>
</header>
