---
export interface Props {
  images: string[]; // Lista de URLs de imágenes
}

const { images } = Astro.props;
---

<div class="grid grid-cols-4 gap-2 p-2 bg-black">
  {images.map((image, index) => (
    <div
      class={`overflow-hidden rounded-lg ${
        index === 0
          ? "col-span-2 row-span-2 " 
          : index % 3 === 0
          ? "col-span-1 row-span-2 " 
          : "col-span-1 row-span-1 " 
      }`}
    >
      <img
        src={image}
        alt={`Imagen ${index + 1}`}
        class="w-full h-full object-cover border-2 border-white"
      />
    </div>
  ))}
</div>
