<section class="h-80 w-screen mx-auto bg-black bottom-0 flex gap-10 items-center justify-center text-center space-y-4">
  <h1 class="text-white font-bold text-4xl">
    SECCIÓN FOOTER
  </h1>
  <img
    src="/logomaezink.png"
    alt="Logo"
    loading="lazy"
    class="w-20 h-32"
  />
</section>
