---

---

<header class="fixed z-20">
  <div class="bg-[#141413] w-screen h-auto">
    <ul class="flex place-content-center p-4 text-white text-sm md:text-base lg:text-sm">
      <li><a class="hover:bg-[#222221] transition-all ease-in-out duration-600 p-4" href="/">Inicio</a></li>
      <li><a class="hover:bg-[#222221] transition-all ease-in-out duration-600 p-4" href="/noticiero">Noticiero</a></li>
      <li><a class="hover:bg-[#222221] transition-all ease-in-out duration-600 p-4" href="/galeria">Galería</a></li>
      <li><a class="hover:bg-[#222221] transition-all ease-in-out duration-600 p-4" href="">Pide tu cita</a></li>
      <li><a class="hover:bg-[#222221] transition-all ease-in-out duration-600 p-4" href="">Sorteos</a></li>
      <li><a class="hover:bg-[#222221] transition-all ease-in-out duration-600 p-4" href="">Diseños</a></li>
    </ul>
  </div>
</header>
