---

---

<header class="fixed">
  <div
    class="flex bg-black p-4 items-center h-32 w-screen"
  >
    <img
      src="/logomaezink.png"
      alt="Logo"
      loading="lazy"
      class="my-0 mx-auto w-20 h-32"
    />
  </div>
  <div class="bg-slate-900 w-screen h-auto">
    <ul class="flex place-content-center text-white p-4 gap-8 text-xl">
      <li><a href="">Noticiero</a></li>
      <li><a href="">Galería</a></li>
      <li><a href="">Pide tu cita</a></li>
      <li><a href="">Sorteos</a></li>
    </ul>
  </div>
</header>
