---
import "../styles/global.css";
import { FaPlus } from 'react-icons/fa';
import Sidebar from '../components/General/Sidebar';
import { Toaster } from 'sonner';
import DarkModeButton from "../components/General/DarkModeButton";
import AuthGuard from '../components/Auth/AuthGuard';

interface Props {
	title: string;
	siteTitle: string;
	havePlus?: boolean;
	route?: string;
}

const { title, siteTitle, havePlus, route } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Dashboard - {title}</title>
		<script>
			(function() {
					const theme = localStorage.getItem('theme');
					if (theme === 'dark') {
							document.documentElement.classList.add('dark');
					} else {
							document.documentElement.classList.remove('dark');
					}
			})();
		</script>
	</head>
	<body class="h-screen w-screen overflow-hidden flex text-white">
		<AuthGuard client:load/>
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-400 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(0,0,0,0.12),rgba(0,0,0,0))] dark:bg-neutral-800 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		
		<Sidebar client:visible/>
		<main class="flex-1 overflow-y-auto p-6 ">
			<div class="flex items-center mb-4 justify-between">
				<div class="flex justify-between">
					<h1 class="text-3xl font-bold pl-10">{siteTitle}</h1>
				</div>
				<div class="flex justify-center mb-2 gap-2 items-center">
					{havePlus && <a class="dark:bg-neutral-900 bg-neutral-500 hover:bg-neutral-600 dark:hover:bg-neutral-800 text-white rounded-lg text-sm text-center items-center transition-all duration-300 ease-in-out p-3" href={route}><FaPlus /></a>}
					<DarkModeButton client:visible />
				</div>
			</div>
			<hr class="border-gray-300 m-2" />
			<slot />
			<Toaster position='bottom-right' richColors client:visible/>
		</main>
	</body>
	
</html>
