---

import { FaPlus } from 'react-icons/fa';
import Sidebar from '../components/General/Sidebar.astro';
import { Toaster } from 'sonner';
interface Props {
	title: string;
	siteTitle: string;
	havePlus?: boolean;
	route?: string;
}

const { title, siteTitle, havePlus, route } = Astro.props;
---

<script>
import { navigate } from "astro:transitions/client";
	const token = document.cookie.split("; ").find(row => row.startsWith("accessToken="));
	if (!token) {
		navigate("/login");
	}
</script>

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Dashboard - {title}</title>
	</head>
	<body class="h-screen w-screen overflow-hidden flex bg-neutral-700 text-white">
		<Sidebar />
		<main class="flex-1 overflow-y-auto p-6">
			<div class="flex justify-between">
				<h1 class="text-3xl font-bold">{siteTitle}</h1>
				{havePlus && <a class="bg-neutral-800 text-white rounded-2xl text-sm text-center items-center hover:scale-110 transition-transform duration-200 	ease-in-out hover:shadow-xl shadow-md p-4" href={route}><FaPlus /></a>}
				</div>
				<hr class="border-gray-300 m-2" />
			<slot />
			<Toaster position='bottom-right' richColors client:load />
		</main>
	</body>
</html>
