---
import "../styles/global.css";
import { FaPlus } from 'react-icons/fa';
import Sidebar from '../components/General/Sidebar.astro';
import { Toaster } from 'sonner';
import DarkModeButton from "../components/General/DarkModeButton";

interface Props {
	title: string;
	siteTitle: string;
	havePlus?: boolean;
	route?: string;
}

const { title, siteTitle, havePlus, route } = Astro.props;

---

<script>
import { navigate } from "astro:transitions/client";

const token = document.cookie.split("; ").find(row => row.startsWith("accessToken="))?.split("=")[1];
if (token) {
	try {
		const payload = JSON.parse(atob(token.split(".")[1]));
		const isExpired = payload.exp * 1000 < Date.now();
		if (isExpired) {
			navigate("/login");
		}
	} catch (error) {
		console.error("Invalid token:", error);
		navigate("/login");
	}
} else {
	navigate("/login");
}
</script>

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Dashboard - {title}</title>
	</head>
	<body class="h-screen w-screen overflow-hidden flex text-white">
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-500 bg-[radial-gradient(ellipse_100%_80%_at_60%_-60%,rgba(131,131,131,1),rgba(255,250,250,0.4))] dark:bg-neutral-800 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		
		<Sidebar />
		<main class="flex-1 overflow-y-auto p-6 ">
			<div class="flex items-center mb-4 justify-between">
				<div class="flex justify-between ">
					<h1 class="text-3xl font-bold">{siteTitle}</h1>
				</div>
				<div class="flex justify-center mb-2 gap-2 items-center">
					{havePlus && <a class="dark:bg-neutral-900 bg-neutral-500 text-white rounded-lg text-sm text-center items-center hover:scale-110 transition-transform duration-200 ease-in-out p-3" href={route}><FaPlus /></a>}
					<a href="/login" class="dark:bg-neutral-900 bg-neutral-500 p-2 rounded-lg hover:bg-neutral-600 transition-all duration-300">Inicia sesión</a>
					<DarkModeButton client:visible />
				</div>
			</div>
			<hr class="border-gray-300 m-2" />
			<slot />
			<Toaster position='bottom-right' richColors client:visible/>
		</main>
	</body>
	
</html>
