---
// Layout.astro
import Sidebar from '../components/General/Sidebar.astro';
import { Toaster } from 'sonner';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body class="h-screen w-screen overflow-hidden flex bg-neutral-700 text-white">
		<Sidebar />
		<main class="flex-1 overflow-y-auto p-6">
			<slot />
			<Toaster position='bottom-right' richColors client:load />
		</main>
	</body>
	
</html>
