---
const { title, description } = Astro.props;
---

<section class="max-h-screen flex flex-col items-center justify-center">
  <h1 class="text-4xl font-extrabold dark:text-neutral-300 mt-52">Bienvenido al {title}</h1>
  <p class="text-lg dark:text-neutral-400 text-center">
    {description}
  </p>
</section>