---
import RegistroUsuario from '../../components/auth/RegistroUsuario';
import '../../styles/global.css';
---

<section class="grid lg:flex justify-center items-center min-h-screen">
  <div class="flex justify-center items-center">
    <img src="/favicon.svg" transition:name="vtImg" alt="Logo" class="w-96 animate-blurred-fade-in animate-delay-200" />
  </div>

  <RegistroUsuario client:only="react" />
</section>
