---
import '../styles/global.css';
import Link from '../components/general/Link';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruta no encontrada</title>
</head>
<body class="bg-neutral-950 bg-cover bg-center bg-black/80 bg-blend-overlay animate-blurred-fade-in">
    <img src="/bg.avif" transition:name="image" alt="" loading="lazy" class="absolute inset-0 opacity-20 object-cover w-full h-full -z-10" />
    <main>
        <div class="flex flex-col items-center justify-center h-screen">
            <h1 class="text-4xl font-bold text-white">404 - Página no encontrada</h1>
            <p class="mt-4 text-lg text-gray-300">Lo sentimos, la página que buscas no existe.</p>
            <Link
                href="/"
                label="Volver a la página principal" 
                className="mt-6 text-white" 
                client:only="react"
            />
        </div>
    </main>
</body>
</html>

