---
import { Toaster } from "sonner";
import RecuperacionForm from "../components/auth/Recuperacion";
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
</head>
<body class="bg-neutral-950 bg-cover bg-center bg-black/80 bg-blend-overlay animate-blurred-fade-in">
    <img src="/bg.avif" transition:name="image" alt="" loading="lazy" class="absolute inset-0 opacity-20 object-cover w-full h-full -z-10" />
    <main>
        <RecuperacionForm client:idle />
        <Toaster position='bottom-right' richColors style={{ marginBottom: '150px' }} client:visible/>
    </main>
</body>
</html>

