---
import Button from '../../components/general/Button';
---

<section class="max-w-[35%] mx-auto">
  <form action="" method="POST" class="rounded-3xl bg-gradient-to-br from-transparent via-transparent to-neutral-700 border  grid gap-5">
    <h1 class="titleMarta text-center mt-10 text-5xl">
      <span>¡Agenda tu cita</span>
      <span class="text-neutral-400">para tatuarte!</span>
    </h1>

    <hr class="border-neutral-300 w-64 mx-auto" />

    <div class="grid gap-2 text-center">
      <label for="name" class="text-neutral-300">Nombre completo</label>
      <input type="text" id="name" name="name" class="rounded-lg p-2 bg-transparent border w-3/4 mx-auto" placeholder="Tu nombre" required>

      <label for="email" class="text-neutral-300">Correo electrónico</label>
      <input type="email" id="email" name="email" class="rounded-lg p-2 bg-transparent border w-3/4 mx-auto" placeholder="Tu correo" required>

      <label for="phone" class="text-neutral-300">Teléfono</label>
      <input type="tel" id="phone" name="phone" class="rounded-lg p-2 bg-transparent border w-3/4 mx-auto" placeholder="Tu teléfono" required>

      <label for="tattoo-description" class="text-neutral-300">Descripción del tatuaje</label>
      <textarea id="tattoo-description" name="tattooDescription" class="rounded-lg p-2 bg-transparent border w-3/4 mx-auto" placeholder="Describe tu idea" rows="4" required></textarea>

      <label for="design-choice" class="text-neutral-300">Elección de diseño ya creado</label>
      <select id="design-choice" name="designChoice" class="rounded-lg p-2 bg-transparent border w-3/4 mx-auto">
        <option value="" disabled selected class="bg-neutral-800">Selecciona un diseño</option>
        <option value="design1" class="bg-neutral-800">Diseño 1</option>
        <option value="design2" class="bg-neutral-800">Diseño 2</option>
        <option value="design3" class="bg-neutral-800">Diseño 3</option>
      </select>

      <label for="appointment-date" class="text-neutral-300">Fecha y hora</label>
      <input type="datetime-local" id="appointment-date" name="appointmentDate" class="rounded-lg p-2 bg-transparent border w-3/4 mx-auto" required>
      
      <Button text="Reservar" className="mb-10  mt-10 w-2/4 mx-auto"/>
    </div>
  </form>
</section>