@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.img-gradient {
    mask-image: linear-gradient(
        black 90%,
        transparent
    );
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 100 800;
}

* {
box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
margin: 0;
font-weight: 700;
}

p {
margin: 0;
}

textarea {
    resize: none;
}